# Ignorar el entorno virtual
venv/

# Ignorar archivos generados y compilados
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Ignorar archivos de Excel
*.xlsx
*.xls

# Ignorar archivos de caché de Python
__pycache__/
*.py[cod]

# Ignorar archivos de configuración de IDEs
*.vscode/
*.idea/
*.env

# Ignorar archivos de logs
*.log

# Ignorar archivos temporales
*.tmp
*.temp
